@model DtoEntityProject.DoctorResponse
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Doctor Details</title>
</head>
<body>

    <div class="container-fluid col-6 pt-2">
        <div class="form-group text-left">
            <form>
                @if (User.IsInRole(Constants.Technician))
                {
    <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("GetAll", "Doctor") + "'");"> }
                else
                {
    <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("GetDoctorsByPatient", "Doctor") + "'");">}
            </form>
        </div>

        <div class="font-weight-bold text-left" style="font-size: 50px">
            <h4 class="text-left mb-3">
                Doctor: @(String.Format("{0} {1}", (string)Model.FirstName, (string)Model.LastName))
            </h4>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <input type="hidden" asp-for="Id">
                <div class="form-group">
                    <label asp-for="Address">Address</label>
                    <input class="form-control" asp-for="Address" readonly />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Phone</label>
                    <input class="form-control" asp-for="Phone" readonly />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Specialization">Specialization</label>
                    <input class="form-control" asp-for="Specialization" readonly />
                    <span asp-validation-for="Specialization" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoursPerDay">Hours Per Day</label>
                    <input class="form-control" asp-for="HoursPerDay" readonly />
                    <span asp-validation-for="HoursPerDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth">Date of birth</label>
                    <input class="datepicker form-control" asp-for="DateOfBirth" readonly />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input class="form-control" type="email" asp-for="Email" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    <script>$(function () {
            $('.datepicker').datepicker();
        })</script>
    <script>$(function (event) {
            console.log("location: " + document.location + ", state: " +
                JSON.stringify(event.state));
        })</script>
}
