@model DtoEntityProject.AppointmentComplete
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Complete Appointment</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
</head>
<body>

    <div class="container-fluid col-6">
        <div class="form-group text-left">
            <form>
                <input type="button" class="btn btn-primary" value="Back" onclick="history.back()">
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="display-7" style="text-align:center">Complete appointment for patient: @(String.Format("{0} {1}", @ViewBag.Appointment.Patient.FirstName, @ViewBag.Appointment.Patient.LastName))</h3>
                <div class="child text-center flex-child">
                    <p class="error_message">@ViewBag.Errors</p>
                </div>
                <form asp-controller="Appointment" asp-action="Complete" method="post">
                    <input type="hidden" asp-for="AppointmentId">
                    <div class="form-group">
                        <label asp-for="Note">Note</label>
                        <textarea class="form-control" asp-for="Note"></textarea>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Start Time</label>
                        <input class="form-control" value="@ViewBag.Appointment.StartTime" readonly />
                    </div>
                    <div class="form-group">
                        <label>End Time</label>
                        <input class="form-control" value="@ViewBag.Appointment.EndTime" readonly />
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Complete" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>$("#searchInput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Appointment/GetSearchValue',
                    data: { "search": request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }));
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#patientId").val(i.item.val);
            },
            minLength: 1
        });</script>
</body>
</html>

